.app {
  min-width: 500px;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 18px;
}

.left {
  width: 100px;
  flex: 0 0 auto;
}

.right {
  flex: 1 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.img-wrap {
  width: 120px;
  height: 120px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
  position: relative;
}

.img-wrap .close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 15px;
  height: 15px;
  content: '';
}

.img-wrap .close::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: red;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  content: '';
}

.img-wrap .close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: red;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
  content: '';
}

.img-wrap img {
  max-width: 110px;
  height: 110px;
}

.btn-select {
  width: 120px;
  height: 120px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 0;
  outline: none;
}

.btn-upload {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: aqua;
}

.preview {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
}

.preview img {
  width: 500px;
}

.hide {
  display: none;
}

.dustbin {
  width: 200px;
  height: 200px;
  background-color: #FFFFFF;
  color: #cccccc;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 10px dashed #cccccc;
  margin-top: 20px;
}